.button{
    font-size: 18px;
    font-weight: 700;
    padding: 6px;
    margin: 6px;
    width: 200px;
    max-width: 200px;
    text-align: center;
    background:rgb(226, 224, 224);
    color: black;
    border: 1px solid black;
    user-select: none;
}
.button:hover{
    cursor: pointer;
    background: rgb(211, 208, 208);
}